@model Cadastro_MVC.Funcionarios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="wrapper">
    <div class="row">
        <div class="content-panel" style="padding:20px">
            <br />
            <h3>Deseja deletar os dados dos funcionário?</h3>

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Sobrenome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Sobrenome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RG)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RG)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CPF)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CPF)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Endereco)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Endereco)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Bairro)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bairro)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cidade)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cidade)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UF)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UF)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Departamento)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Departamento)
                    </dd>

                </dl>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> 
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                }

            </div>
        </div>
    </div>
</section>
